#requirements.txt
Django==5.0
psycopg2-binary==2.9.9
pillow==10.1.0
django-ckeditor==6.7.0
django-mptt==0.16.0
django-cleanup==8.0.0
python-decouple==3.8
django-environ==0.11.2

# Admin personnalisé
django-jazzmin==3.0.0

# Utilitaires
django-extensions==3.2.3
python-slugify==8.0.1

# Production (optionnel pour dev)
gunicorn==21.2.0
whitenoise==6.6.0

reportlab==4.0.7
qrcode[pil]==7.4.2
python-decouple==3.8
psycopg2-binary==2.9.9
django-crispy-forms==2.1
crispy-tailwind==0.5.0