# requirements.txt
Django==5.0
psycopg2-binary==2.9.9
pillow==10.1.0
django-ckeditor==6.7.0
django-cleanup==8.0.0
python-decouple==3.8
django-environ==0.11.2

# Admin
django-jazzmin==3.0.0

# Utilitaires
django-extensions==3.2.3
python-slugify==8.0.1

# PDF & QR
reportlab==4.0.7
qrcode[pil]==7.4.2

# Production
gunicorn==21.2.0
whitenoise==6.6.0

# Formulaires
django-crispy-forms==2.1
crispy-tailwind==0.5.0

# Tests
pytest-django>=4.8
factory-boy>=3.3
coverage>=7.4